body {
  background-color: #202124;
  color: #f0f0f0;
}
table thead {
  background-color: #302b63;
  color: white;
}

pre {
  background-color: #444444;
  color: blanchedalmond;
  border-radius: 0.5rem;
}

code {
  font-weight: 200;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
